@media (max-width: 768px) {
  .cont {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      'menu'
      'cover'
      'rsm'
      'cards'
      'form'
      'footer';
    height: auto;
  }

  .cover {
    height: 60vh;
  }

  .cover-content h1 {
    font-size: 3rem;
  }

  .cover-content p {
    font-size: 1.5rem;
  }

  .rsm {
    height: auto;
    padding: 50px 20px;
  }

  .rsm__flex {
    flex-direction: column;
    padding: 0;
  }

  .rsm__flex p {
    padding: 0;
    font-size: 1.6rem;
  }

  .cards {
    height: auto;
  }

  .form {
    height: auto;
    padding: 50px 20px;
  }

  .form-container {
    width: 100%;
    padding: 20px;
  }

  #newsletter-form input {
    width: 100%;
  }

  .footer {
    height: auto;
    padding: 20px;
  }
}
